<body class="white">
<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/static/img/race-1.jpg">
        <div class="logo">
            <a href="/dashboard" class="simple-text logo-normal ml-4">
                <img src="/static/img/rratfr-logo.png" class="pr-1" style="width: auto; max-width: 48px">
                <fontb>Race Manager</fontb>
            </a>
        </div>
        <!-- Tabs -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entry/list">
                        <i class="fas fa-stream"></i>
                        <p>Entry List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entry/check">
                        <i class="fas fa-check-double"></i>
                        <p>Entry Check</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/timing">
                        <i class="fas fa-stopwatch"></i>
                        <p>Race Timing</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                        <i class="material-icons">image</i>
                        <p> Public Pages
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="pagesExamples">
                        <ul class="nav">
                            <li class="nav-item active-pro mb-2">
                                <a class="nav-link" href="/results/live">
                                    <i class="fas fa-satellite-dish"></i>
                                    <p>Live Results</p>
                                </a>
                            </li>
                            <li class="nav-item active-pro mb-2">
                                <a class="nav-link" href="/results/historic">
                                    <i class="fas fa-book"></i>
                                    <p>Historic Results</p>
                                </a>
                            </li>
                            <li class="nav-item active-pro mb-2">
                                <a class="nav-link" href="/peoples-choice">
                                    <i class="fas fa-vote-yea"></i>
                                    <p>People's Choice Voting</p>
                                </a>
                            </li>
                            <li class="nav-item active-pro mb-2">
                                <a class="nav-link" href="/display">
                                    <i class="fas fa-tv"></i>
                                    <p>Results Display Board</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item active-pro mb-2">
                    <a class="nav-link" href="/settings">
                        <i class="fas fa-cog"></i>
                        <p>Admin Settings</p>
                    </a>
                </li>
                <li class="nav-item active-pro mb-2">
                    <a class="nav-link" target="_blank" href="https://www.notion.so/a41e54eb6c05450b9d0787a8c5d98928?v=aa4705b0b97442f68cd8ff68766ac138">
                        <i class="fas fa-question-circle"></i>
                        <p>Help & Support Docs</p>
                    </a>
                </li>
                <li class="nav-item active-pro mb-2">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Logout User</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Navbar -->
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <%= title %></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <div class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" id="searchValue" class="form-control"
                                   placeholder="Entry Search...">
                            <button class="btn btn-default btn-round btn-just-icon" onclick="entrySearch()">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" target="_blank" href="https://www.notion.so/a41e54eb6c05450b9d0787a8c5d98928?v=aa4705b0b97442f68cd8ff68766ac138">
                                <i class="material-icons">help</i>
                                <p class="d-lg-none d-md-block">
                                    Help & Support Docs
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>