<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-copy"></i>
                        </div>
                        <p class="card-category"><strong>Total Entries</strong></p>
                        <h3 class="card-title"><span id="totalStat">0</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add</i>
                            <a href="/entry/list">Add an Entry</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <p class="card-category"><strong>Missing Safety Check</strong></p>
                        <h3 class="card-title text-danger"><span id="safetyStat">0</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons pr-1">pan_tool</i>
                            <a href="/entry/check">See Safety Check</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-water"></i>
                        </div>
                        <p class="card-category"><strong>Entries in Water</strong></p>
                        <h3 class="card-title"><span id="inwaterStat">0</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">timer</i>
                            <a href="/timing">Race Timing</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-flag-checkered"></i>
                        </div>
                        <p class="card-category"><strong>Entries Finished</strong></p>
                        <h3 class="card-title text-success"><span id="finishStat">0</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">timer</i>
                            <a href="/timing">Race Timing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><i class="fas fa-trophy"></i> Entry Leaderboard</h4>
                        <p class="card-category">Updated in Real Time</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped dt-responsive display nowrap"
                               id="leaderTable" style="width: 100%">
                            <thead class="text-muted">
                            <th>Place</th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Category</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-warning">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title"><strong>Events:</strong></span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#all" data-toggle="tab">
                                            <i class="fas fa-layer-group"></i> All
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#entries" data-toggle="tab">
                                            <i class="fas fa-copy"></i> Entries
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#timing" data-toggle="tab">
                                            <i class="fas fa-stopwatch"></i> Timing
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all">
                                <table class="table table-hover table-striped dt-responsive display nowrap"
                                       id="eventsAllTable" style="width: 100%">
                                    <thead class="text-muted">
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Time</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="entries">
                                <table class="table table-hover table-striped dt-responsive display nowrap"
                                       id="eventsEntriesTable" style="width: 100%">
                                    <thead class="text-muted">
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Time</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="timing">
                                <table class="table table-hover table-striped dt-responsive display nowrap"
                                       id="eventsTimingTable" style="width: 100%">
                                    <thead class="text-muted">
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Time</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/admin_dashboardFunct.js"></script>