<% include ../partials/head.ejs %>
<body class="off-canvas-sidebar">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/">
                <img src="/static/img/rratfr-logo.png" class="pr-1"
                     style="width: auto; max-width: 100px; -webkit-filter: invert(100%);">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end pt-4">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link">
                        <i class="material-icons">info</i> See live timing results at
                        <strong>rratfrliveresults.com</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" id="coverImage" filter-color="black"
         style="background-image: url('/static/img/race-2.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12 m-auto">
                    <div class="card card-stats mb-0">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fas fa-trophy"></i>
                            </div>
                            <p class="card-category">Race Timing</p>
                            <h3 class="card-title">Entry Leaderboard</h3>
                        </div>
                        <div class="card-footer">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped dt-responsive display nowrap"
                                       id="leaderTable" style="width: 100%">
                                    <thead class="text-muted">
                                    <th>Place</th>
                                    <th>Name</th>
                                    <th>Time/Status</th>
                                    <th>Category</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h6 class="float-right pt-2 mb-2 pr-2"><span id="refreshCount"></span></h6>
                </div>
                <div class="col-lg-3 col-sm-12 m-auto">
                    <div class="card card-stats mb-5">
                        <div class="card-header card-header-muted card-header-icon">
                            <div class="card-icon">
                                <i class="far fa-copy"></i>
                            </div>
                            <p class="card-category"><strong>Total Entries</strong></p>
                            <h3 class="card-title"><span id="totalStat">0</span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i>
                                <span id="pushedDate1">Just Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fas fa-water"></i>
                            </div>
                            <p class="card-category"><strong>Entries in Water</strong></p>
                            <h3 class="card-title text-info"><span id="inwaterStat">0</span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i>
                                <span id="pushedDate2">Updated Just Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card-stats mt-5">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fas fa-flag-checkered"></i>
                            </div>
                            <p class="card-category"><strong>Entries Finished</strong></p>
                            <h3 class="card-title text-success"><span id="finishStat">0</span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">history</i>
                                <span id="pushedDate3">Updated Just Now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="copyright float-right pr-2">
                    Made with <a class="text-danger"><i class="fas fa-heart"></i></a> by <a class="text-white" href="https://github.com/RAK3RMAN">RAk3rman</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/display_live_resultsFunct.js"></script>
<script>
    document.ready = function () {
        setImage();
        setInterval(setImage, 600000);
        refreshCounter(20);
    }
</script>