<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title p-0">
                                    <h4 class="card-title"><strong>All Entries</strong></h4>
                                    <p class="card-category">Total Number of Entries: <strong><span
                                                    id="totalCount"></span></strong></p>
                                </span>
                                <ul class="nav nav-tabs justify-content-end" data-tabs="tabs">
                                    <li class="nav-item dropdown mr-2">
                                        <a class="nav-link active" onclick="createEntry()">
                                            <i class="fas fa-plus"></i>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown mr-2">
                                        <a class="nav-link active" onclick="sortEntries()">
                                            <i class="fas fa-sort-numeric-up"></i>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="entryTable" style="width: 100%">
                                <thead class="text-muted">
                                <th>Bib #</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Check Status</th>
                                <th>Timing Status</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Final Time</th>
                                <th>Final Place</th>
                                <th>Tools</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/entryFunct.js"></script>