<% include ../partials/head.ejs %>
<body class="off-canvas-sidebar">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand ml-2" href="/dashboard">
                <img src="/static/img/rratfr-logo.png" class="pr-1"
                     style="width: auto; max-width: 55px; -webkit-filter: invert(100%);">
                <fontb>Race Manager</fontb>
            </a>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" id="coverImage"
         style="background-image: url('/static/img/race-2.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="container-fluid">
                <div class="col-md-8 col-12 mr-auto ml-auto">
                    <div class="wizard-container">
                        <div class="card card-wizard active" data-color="blue" id="wizardProfile">
                            <form action="" method="" novalidate="novalidate">
                                <div class="card-header text-center pt-4">
                                    <h3 class="card-title">
                                        2019 Entry Check
                                    </h3>
                                    <h5 class="card-description">Use this form to ensure that an entry is ready for race
                                        day</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item" style="width: 50%;">
                                            <a class="nav-link" href="#loopup" data-toggle="tab" role="tab">
                                                <strong>Lookup</strong>
                                            </a>
                                        </li>
                                        <li class="nav-item" style="width: 50%;">
                                            <a class="nav-link" onclick="createEntry()">
                                                <strong>Create Entry</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="loopup">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped dt-responsive display nowrap"
                                                       id="entryTable" style="width: 100%">
                                                    <thead class="text-muted">
                                                    <th>Name</th>
                                                    <th>Bib #</th>
                                                    <th>Category</th>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-stream"></i> Dashboard
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right pr-2">
                    Made with <a class="text-danger"><i class="fas fa-heart"></i></a> by <a class="text-white"
                                                                                            href="https://github.com/RAK3RMAN">RAk3rman</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/checkFunct.js"></script>
<script>
    document.ready = function () {
        setImage();
    }
</script>