<% include ../partials/head.ejs %>
<body class="off-canvas-sidebar">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/">
                <img src="/static/img/rratfr-logo.png" class="pr-1"
                     style="width: auto; max-width: 55px; -webkit-filter: invert(100%);">
                <fontb>Race Manager</fontb>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end pt-4">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/results/historic" class="nav-link">
                        <i class="material-icons">library_books</i> Historic Results
                    </a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a href="/voting/people's-choice" class="nav-link">-->
                <!--                        <i class="material-icons">check</i> Vote for People's Choice-->
                <!--                    </a>-->
                <!--                </li>-->
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.rratfr.com" class="nav-link">
                        <i class="material-icons">exit_to_app</i> RRATFR Website
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" id="coverImage" filter-color="black"
         style="background-image: url('/static/img/race-2.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-sm-12 m-auto">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-stopwatch"></i>
                                </div>
                                <p class="card-category">August 2020</p>
                                <h3 class="card-title">Race Day is Coming</h3>
                            </div>
                            <div class="card-footer">
                                <div class="row p-3">
                                    <h2 class="col-12 card-title m-auto"><span id="countdown">August 2020 is coming. View results below.</span>
                                    </h2>
                                    <h4 class="col-12 m-auto">The 2020 race date will be announced soon</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="arrow bounce mb-2">
                    <a style="color: white; text-decoration: none;" class="fa fa-arrow-down fa-2x" href="#"></a>
                </div>
                <div class="copyright float-right pr-2">
                    Made with <a class="text-danger"><i class="fas fa-heart"></i></a> by <a class="text-white"
                                                                                            href="https://github.com/RAK3RMAN">RAk3rman</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<footer>
    <div class="container" style="width: 100%">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-flag-checkered"></i>
                        </div>
                        <p class="card-category">Of all time since 2016</p>
                        <h3 class="card-title">Time Records</h3>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="card-title m-auto text-info">00:12:13.0</h2>
                            </div>
                            <div class="col-lg-6 m-auto">
                                <h4 class="m-auto">By <a class="text-primary">Kira</a> in 2017 | Double Canoe | 1.65
                                    miles</h4>
                            </div>
                            <div class="col-lg-6 pt-3">
                                <h2 class="card-title m-auto text-info">00:16:00.0</h2>
                            </div>
                            <div class="col-lg-6 m-auto">
                                <h4 class="m-auto">By <a class="text-primary">Team Danfoss</a> in 2017 | RAFT | 1.65
                                    miles</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-muted card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-copy"></i>
                        </div>
                        <p class="card-category">Of all time since 2016</p>
                        <h3 class="card-title">Total Entries</h3>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-5">
                                <h2 class="card-title m-auto"><a class="text-info">165</a> Entries</h2>
                            </div>
                            <div class="col-lg-7 m-auto">
                                <h4 class="m-auto"><a class="text-success">154</a> made it, <a class="text-danger">11</a>
                                    had some problems</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <p class="card-category">Entry Leaderboard</p>
                        <h3 class="card-title">2019 Results</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="results2019" style="width: 100%">
                                <thead class="text-muted">
                                <th>Place</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Final Time</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong><a style="color:#D4AF37">1</a></strong></td>
                                    <td>Broken Bone</td>
                                    <td>00:15:48.1</td>
                                    <td>HULL</td>
                                </tr>
                                <tr>
                                    <td><strong><a style="color:#C4CACE">2</a></strong></td>
                                    <td>OSF USS Elijah</td>
                                    <td>00:33:55.1</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td><strong><a style="color:#CD7F32">3</a></strong></td>
                                    <td>OSF USS Wolfgang</td>
                                    <td>00:34:15.7</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Team Jones</td>
                                    <td>00:38:59.4</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Team Gambino</td>
                                    <td>00:41:12.8</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Boylan</td>
                                    <td>00:43:28.6</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>The Last Ride</td>
                                    <td>00:44:06.5</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Fehr Graham</td>
                                    <td>00:44:21.6</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>The Landing Strippers</td>
                                    <td>00:50:47.2</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Forest City Brewers</td>
                                    <td>00:51:34.3</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Mercyhealth Cardiac and Stroke Nurses</a>
                                    </td>
                                    <td>00:52:11.4</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Meiborg Enterprises</td>
                                    <td>00:54:03.8</td>
                                    <td>HULL</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Rock Valley Credit Union</td>
                                    <td>00:54:04.8</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>PCI Pharmaceuticals</td>
                                    <td>00:55:50.3</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Firestone</td>
                                    <td>00:58:38.2</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Thomas and Friends</td>
                                    <td>01:00:21.1</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Moana</td>
                                    <td>01:04:47.2</td>
                                    <td>HULL</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Scrapyard Sailors</td>
                                    <td>01:06:24.1</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>The Joint</td>
                                    <td>01:08:56.8</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Dirty Oar</td>
                                    <td>01:11:02.0</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>Floating Sparkies</td>
                                    <td>01:14:32.4</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>95.3 The Bull / Thermo Fisher Scientific</a>
                                    </td>
                                    <td>01:18:12.3</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>USS Stout</td>
                                    <td>01:26:00.0</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>The Rockness Monster</td>
                                    <td>01:27:55.1</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Citizens For Bill Rose</td>
                                    <td>01:28:16.3</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Prairie Street Brewhouse</td>
                                    <td>01:28:59.8</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>USS Hammy</td>
                                    <td>01:31:54.7</td>
                                    <td>HULL</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>Blackhawk Athletic Club</td>
                                    <td>01:35:29.7</td>
                                    <td>HULL</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Speedway Racers</td>
                                    <td>01:41:29.5</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Two Men and a Truck</td>
                                    <td>01:43:53.2</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>The House Boat</td>
                                    <td>01:50:05.2</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>Ship Happens</td>
                                    <td>01:51:02.5</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>Team Maldonado</td>
                                    <td>02:21:18.7</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>Buffet Barge</td>
                                    <td>02:23:28.5</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>DQ</td>
                                    <td>Captain Corksoaker</td>
                                    <td>NT - DISQUALIFIED</td>
                                    <td>DIY</td>
                                </tr>
                                <tr>
                                    <td>DQ</td>
                                    <td>Oak Nuts</td>
                                    <td>NT - DISQUALIFIED</td>
                                    <td>DIY</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <p class="card-category">Entry Leaderboard</p>
                        <h3 class="card-title">2018 Results</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="results2018" style="width: 100%">
                                <thead class="text-muted">
                                <th>Place</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Final Time</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong><a style='color:#D4AF37'>1</a></strong></td>
                                    <td>Broken Bone</td>
                                    <td>HULL</td>
                                    <td>00:17:11.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#C4CACE'>2</a></strong></td>
                                    <td>Slumberin Sloth</td>
                                    <td>DIY</td>
                                    <td>00:24:37.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#CD7F32'>3</a></strong></td>
                                    <td>DAnimal / Powder Monkey</td>
                                    <td>HULL</td>
                                    <td>00:32:07.0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Fehr Graham</td>
                                    <td>DIY</td>
                                    <td>00:38:32.0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Meiborg</td>
                                    <td>HULL</td>
                                    <td>00:44:47.0</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Bike Elves / Team Fur Bandit</td>
                                    <td>HULL</td>
                                    <td>00:49:08.0</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>H20 Express</td>
                                    <td>DIY</td>
                                    <td>00:51:21.0</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>OSF SS Wolfgang</td>
                                    <td>DIY</td>
                                    <td>00:51:26.0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>OSF SS Cupertino</td>
                                    <td>DIY</td>
                                    <td>00:51:41.0</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Rubber Duck</td>
                                    <td>DIY</td>
                                    <td>00:52:20.0</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Row Row Row Gambino</td>
                                    <td>DIY</td>
                                    <td>00:52:35.0</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>OSF SS Skelnik</td>
                                    <td>DIY</td>
                                    <td>00:53:19.0</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Fas Mart</td>
                                    <td>DIY</td>
                                    <td>00:54:18.0</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Gutter Crew / Midwest Gutters</td>
                                    <td>DIY</td>
                                    <td>00:55:26.0</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Cats out of the Bag</td>
                                    <td>DIY</td>
                                    <td>00:55:52.0</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Prairie Street Brewhouse</td>
                                    <td>DIY</td>
                                    <td>00:57:49.0</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Oak Street Health</td>
                                    <td>DIY</td>
                                    <td>00:58:05.0</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Spirit of Survival</td>
                                    <td>DIY</td>
                                    <td>00:59:23.0</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Rock Valley Credit Union</td>
                                    <td>DIY</td>
                                    <td>01:00:45.0</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Dirty Oar / Whiskeys</td>
                                    <td>DIY</td>
                                    <td>01:05:21.0</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>Firestone</td>
                                    <td>DIY</td>
                                    <td>01:06:05.0</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>Rootbeer Float</td>
                                    <td>DIY</td>
                                    <td>01:14:52.0</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>Creative Ink</td>
                                    <td>DIY</td>
                                    <td>01:20:19.0</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Aquaholics / Pub 815</td>
                                    <td>DIY</td>
                                    <td>01:20:37.0</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Big Texas</td>
                                    <td>DIY</td>
                                    <td>01:21:15.0</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Ohana Moke</td>
                                    <td>DIY</td>
                                    <td>01:23:30.0</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>Team World Vision</td>
                                    <td>DIY</td>
                                    <td>01:24:49.0</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>Field Fastner</td>
                                    <td>DIY</td>
                                    <td>01:30:22.0</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Spaceforce</td>
                                    <td>DIY</td>
                                    <td>01:40:04.0</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Team Maldanado</td>
                                    <td>DIY</td>
                                    <td>01:48:08.0</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>425 Manufacturing</td>
                                    <td>HULL</td>
                                    <td>01:54:22.0</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>Nintendo</td>
                                    <td>DIY</td>
                                    <td>02:06:42.0</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>Bedrock</td>
                                    <td>DIY</td>
                                    <td>02:08:45.0</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>Shameless</td>
                                    <td>DIY</td>
                                    <td>02:23:57.0</td>
                                </tr>
                                <tr>
                                    <td>T35</td>
                                    <td>DQ - Thermal Fisher</td>
                                    <td>DIY</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T35</td>
                                    <td>DQ - Advanced Machine / Rock Floaters</td>
                                    <td>DIY</td>
                                    <td>DQ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <p class="card-category">Entry Leaderboard</p>
                        <h3 class="card-title">2017 Results</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="results2017" style="width: 100%">
                                <thead class="text-muted">
                                <th>Place</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Final Time</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong><a style='color:#D4AF37'>1</a></strong></td>
                                    <td>Kira</td>
                                    <td>Double Canoe</td>
                                    <td>00:12:13.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#C4CACE'>2</a></strong></td>
                                    <td>Unknown Name</td>
                                    <td>Single Kayak</td>
                                    <td>00:14:01.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#CD7F32'>3</a></strong></td>
                                    <td>Team Danfoss</td>
                                    <td>Raft</td>
                                    <td>00:16:00.0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Rachel</td>
                                    <td>Single Kayak</td>
                                    <td>00:16:23.0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Unknown Name</td>
                                    <td>Single Kayak</td>
                                    <td>00:17:00.0</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>John</td>
                                    <td>Double Canoe</td>
                                    <td>00:17:24.0</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Neil</td>
                                    <td>Single Kayak</td>
                                    <td>00:17:35.0</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>USS Kelink</td>
                                    <td>Raft</td>
                                    <td>00:19:00.0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Tyler</td>
                                    <td>Double Canoe</td>
                                    <td>00:19:11.0</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Catrina</td>
                                    <td>Single Kayak</td>
                                    <td>00:20:02.0</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Sarah</td>
                                    <td>Double Kayak</td>
                                    <td>00:21:56.0</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>USS Metro</td>
                                    <td>Raft</td>
                                    <td>00:28:00.0</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Unknown Name</td>
                                    <td>Single Kayak</td>
                                    <td>00:31:00.0</td>
                                </tr>
                                <tr>
                                    <td>T14</td>
                                    <td>Rocky's Rock River</td>
                                    <td>Raft</td>
                                    <td>00:33:00.0</td>
                                </tr>
                                <tr>
                                    <td>T14</td>
                                    <td>USS Cupertino</td>
                                    <td>Raft</td>
                                    <td>00:33:00.0</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Byron Station</td>
                                    <td>Raft</td>
                                    <td>00:39:00.0</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Whiskeys</td>
                                    <td>Raft</td>
                                    <td>00:41:00.0</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Broken Bone</td>
                                    <td>Raft</td>
                                    <td>00:42:00.0</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Hole N One</td>
                                    <td>Raft</td>
                                    <td>00:43:00.0</td>
                                </tr>
                                <tr>
                                    <td>T20</td>
                                    <td>Gambino</td>
                                    <td>Raft</td>
                                    <td>00:44:00.0</td>
                                </tr>
                                <tr>
                                    <td>T20</td>
                                    <td>Discovery Center</td>
                                    <td>Raft</td>
                                    <td>00:44:00.0</td>
                                </tr>
                                <tr>
                                    <td>T20</td>
                                    <td>95.3 The Bull</td>
                                    <td>Raft</td>
                                    <td>00:44:00.0</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>Cougars</td>
                                    <td>Raft</td>
                                    <td>00:46:00.0</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Alchemy</td>
                                    <td>Raft</td>
                                    <td>00:48:00.0</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>WREX</td>
                                    <td>Raft</td>
                                    <td>00:50:00.0</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Second Place</td>
                                    <td>Raft</td>
                                    <td>00:50:50.0</td>
                                </tr>
                                <tr>
                                    <td>T27</td>
                                    <td>Fehr Graham</td>
                                    <td>Raft</td>
                                    <td>00:52:00.0</td>
                                </tr>
                                <tr>
                                    <td>T27</td>
                                    <td>Picnic at Jellystone Park</td>
                                    <td>Raft</td>
                                    <td>00:52:00.0</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Slow N Drunk</td>
                                    <td>Raft</td>
                                    <td>00:53:00.0</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Bringin Home The Bacon</td>
                                    <td>Raft</td>
                                    <td>00:54:00.0</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>Swedish American</td>
                                    <td>Raft</td>
                                    <td>00:57:00.0</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>Flounders Revenge</td>
                                    <td>Raft</td>
                                    <td>01:00:00.0</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>Mystery Machine</td>
                                    <td>Raft</td>
                                    <td>01:17:00.0</td>
                                </tr>
                                <tr>
                                    <td>T34</td>
                                    <td>PS Brewhouse</td>
                                    <td>Raft</td>
                                    <td>01:18:00.0</td>
                                </tr>
                                <tr>
                                    <td>T34</td>
                                    <td>NCG</td>
                                    <td>Raft</td>
                                    <td>01:18:00.0</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>Bougher Boys</td>
                                    <td>Raft</td>
                                    <td>01:19:00.0</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>Ingersoll</td>
                                    <td>Raft</td>
                                    <td>01:42:00.0</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>Gators Pool</td>
                                    <td>Raft</td>
                                    <td>01:43:00.0</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>Shameless</td>
                                    <td>Raft</td>
                                    <td>01:47:00.0</td>
                                </tr>
                                <tr>
                                    <td>T40</td>
                                    <td>DQ - DaVita</td>
                                    <td>Raft</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T40</td>
                                    <td>DQ - ABF</td>
                                    <td>Raft</td>
                                    <td>DQ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <p class="card-category">Entry Leaderboard</p>
                        <h3 class="card-title">2016 Results</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="results2016" style="width: 100%">
                                <thead class="text-muted">
                                <th>Place</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Final Time</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong><a style='color:#D4AF37'>T1</a></strong></td>
                                    <td>DK-1</td>
                                    <td>Other Water Craft</td>
                                    <td>00:19:00.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#D4AF37'>T1</a></strong></td>
                                    <td>MC-02</td>
                                    <td>Other Water Craft</td>
                                    <td>00:19:00.0</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#CD7F32'>T3</a></strong></td>
                                    <td>SC-01</td>
                                    <td>Other Water Craft</td>
                                    <td>00:20:00.3</td>
                                </tr>
                                <tr>
                                    <td><strong><a style='color:#CD7F32'>T3</a></strong></td>
                                    <td>MC-03</td>
                                    <td>Other Water Craft</td>
                                    <td>00:20:00.3</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>SUP-4</td>
                                    <td>Other Water Craft</td>
                                    <td>00:22:00.1</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>MC-01</td>
                                    <td>Other Water Craft</td>
                                    <td>00:23:00.2</td>
                                </tr>
                                <tr>
                                    <td>T7</td>
                                    <td>SK-01</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:00.2</td>
                                </tr>
                                <tr>
                                    <td>T7</td>
                                    <td>SK-02</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:00.2</td>
                                </tr>
                                <tr>
                                    <td>T7</td>
                                    <td>SK-03</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:00.2</td>
                                </tr>
                                <tr>
                                    <td>T7</td>
                                    <td>SK-04</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:00.2</td>
                                </tr>
                                <tr>
                                    <td>T11</td>
                                    <td>SUP-1</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:59.9</td>
                                </tr>
                                <tr>
                                    <td>T11</td>
                                    <td>SUP-2</td>
                                    <td>Other Water Craft</td>
                                    <td>00:25:59.9</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>SUP-3</td>
                                    <td>Other Water Craft</td>
                                    <td>00:27:00.4</td>
                                </tr>
                                <tr>
                                    <td>T14</td>
                                    <td>SK-05</td>
                                    <td>Other Water Craft</td>
                                    <td>00:28:00.2</td>
                                </tr>
                                <tr>
                                    <td>T14</td>
                                    <td>SK-06</td>
                                    <td>Other Water Craft</td>
                                    <td>00:28:00.2</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Metro Insulation</td>
                                    <td>Rafts</td>
                                    <td>00:32:19.0</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Back The Raft Up</td>
                                    <td>Rafts</td>
                                    <td>00:36:00.2</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>DaVita</td>
                                    <td>Rafts</td>
                                    <td>00:40:17.4</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Blood Sweat And Gears</td>
                                    <td>Rafts</td>
                                    <td>00:40:30.2</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>SS Daffy</td>
                                    <td>Rafts</td>
                                    <td>00:41:21.8</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>We Found This In The River</td>
                                    <td>Rafts</td>
                                    <td>00:46:09.9</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>Guilford</td>
                                    <td>Rafts</td>
                                    <td>00:47:02.8</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>Team Sold On Toni 1</td>
                                    <td>Rafts</td>
                                    <td>00:47:18.6</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Discovery Center</td>
                                    <td>Rafts</td>
                                    <td>00:48:50.0</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Rickety Rafters</td>
                                    <td>Rafts</td>
                                    <td>00:49:25.4</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Prairie Street Brewing Co</td>
                                    <td>Rafts</td>
                                    <td>00:50:00.2</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>Boaty McBoatface</td>
                                    <td>Rafts</td>
                                    <td>00:57:14.7</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>4 Men On A Raft</td>
                                    <td>Rafts</td>
                                    <td>00:59:17.3</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Release The Kraken</td>
                                    <td>Rafts</td>
                                    <td>01:02:48.9</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Rock River Dream Police</td>
                                    <td>Rafts</td>
                                    <td>01:04:01.0</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>OSF Saint Anthony</td>
                                    <td>Rafts</td>
                                    <td>01:05:58.3</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>My Major Award</td>
                                    <td>Rafts</td>
                                    <td>01:10:00.4</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>WPI</td>
                                    <td>Rafts</td>
                                    <td>01:12:00.7</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>Alpine Bank</td>
                                    <td>Rafts</td>
                                    <td>01:13:50.9</td>
                                </tr>
                                <tr>
                                    <td>35</td>
                                    <td>Team Sold On Toni</td>
                                    <td>Rafts</td>
                                    <td>01:15:02.8</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>WREX</td>
                                    <td>Rafts</td>
                                    <td>01:21:19.1</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>WIFR Anchor Away</td>
                                    <td>Rafts</td>
                                    <td>01:24:41.1</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>Whiskeys Roadhouse</td>
                                    <td>Rafts</td>
                                    <td>01:25:53.7</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>Legends</td>
                                    <td>Rafts</td>
                                    <td>01:27:20.9</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>Shameless</td>
                                    <td>Rafts</td>
                                    <td>01:32:19.2</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>Green Machines</td>
                                    <td>Rafts</td>
                                    <td>01:32:48.2</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>Good Morning Rockford</td>
                                    <td>Rafts</td>
                                    <td>01:37:18.3</td>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <td>ABF</td>
                                    <td>Rafts</td>
                                    <td>01:39:22.5</td>
                                </tr>
                                <tr>
                                    <td>T44</td>
                                    <td>DQ - Radio Shack</td>
                                    <td>Rafts</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T44</td>
                                    <td>DQ - Shark Chasing Canoe</td>
                                    <td>Rafts</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T44</td>
                                    <td>DQ - Have Sub Fun</td>
                                    <td>Rafts</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T44</td>
                                    <td>DQ - Nicholas Conservatory</td>
                                    <td>Rafts</td>
                                    <td>DQ</td>
                                </tr>
                                <tr>
                                    <td>T44</td>
                                    <td>DQ - Aglow</td>
                                    <td>Rafts</td>
                                    <td>DQ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/plugins/countdown.js"></script>
<script type="text/javascript" src="/static/js/rratfr-js/historic_resultsFunct.js"></script>
<script>
    document.ready = function () {
        setImage();
        //setCountdown();
        //getCountdown();
        setInterval(setImage, 600000);
        //setInterval(getCountdown, 1000);
    }
</script>