<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %> | RRATFR Manager</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="/static/landing_page/css/hypatia_sans_pro.css"/>
    <link rel="stylesheet" type="text/css" href="/static/landing_page/css/futura_pt.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="/static/landing_page/css/material-kit.css?v=2.0.6" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/lightgallery.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/site.webmanifest">
</head>
<body class="landing-page sidebar-collapse">
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="/">
                    <div class="logo-big">
                        <img src="/static/img/rratfr-logo.png" style="-webkit-filter: invert(100%);">
                    </div>
                    <div class="logo-small">
                        <img src="/static/img/rratfr-logo.png" class="pr-1"
                             style="width: auto; max-width: 45px;">
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mt-1">
                <li class="nav-item">
                    <a href="https://rratfr.com" class="nav-link">
                        <i class="material-icons">home</i> Home
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">info</i> About
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="https://rratfr.com/about" class="dropdown-item">
                            <i class="material-icons">flag</i> About the Race
                        </a>
                        <a href="https://rratfr.com/history" class="dropdown-item">
                            <i class="material-icons">menu_book</i> History
                        </a>
                        <a href="https://rratfr.com/blog" class="dropdown-item">
                            <i class="material-icons">bookmarks</i> Blog
                        </a>
                        <a href="https://rratfr.com/gallery" class="dropdown-item">
                            <i class="material-icons">photo</i> Gallery
                        </a>
                        <a href="https://rratfr.com/store" class="dropdown-item">
                            <i class="material-icons">local_grocery_store</i> Online Store
                        </a>
                        <a href="https://rratfr.com/volunteer" class="dropdown-item">
                            <i class="material-icons">people</i> Volunteer
                        </a>
                        <a href="https://rratfr.com/vendors" class="dropdown-item">
                            <i class="material-icons">store_mall_directory</i> Vendors
                        </a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a href="/" class="nav-link">
                        <i class="material-icons">dashboard</i> Results
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/voting/people's-choice" class="nav-link">
                        <i class="material-icons">how_to_vote</i> People's Choice
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://rratfr.com/map" class="nav-link">
                        <i class="material-icons">map</i> Map
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header header-filter" data-parallax="true" id="coverImage" style="background-image: url('/static/img/race-2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">Rock River Anything That Floats Race</h1>
                <span id="desc_spread"></span>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section" id="spinner_element" style="display: block; padding-top: 200px; padding-bottom: 200px">
            <div class="row">
                <div class="col-12 ml-auto mr-auto">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <div class="section text-center" id="countdown_element" style="display: none">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Countdown to Race Day</h2>
                    <h4>Race Start: <span id="race_start_time">Gathering data...</span></h4>
                    <h1 class="description"><span id="countdown_time">Calculating countdown...</span></h1>
                </div>
            </div>
        </div>
        <div class="section text-center"  id="leaderboard_element" style="display: none">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Live Results</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title mb-2"><i class="fas fa-stopwatch"></i> Timing Leaderboard</h3>
                    <h5 class="description">A key part of the Rock River Anything That Floats Race is the race itself: how fast can you make it down 1.65 miles of the Rock River? Live timing results are shown below. May the fastest entry win.</h5>
                </div>
            </div>
            <div class="table-responsive text-left" id="lightgallery">
                <table class="table table-hover table-striped dt-responsive display nowrap"
                       id="resultslive" style="width: 100%">
                    <thead class="text-muted">
                    <th>Place</th>
                    <th>Name</th>
                    <th>Time/Status</th>
                    <th>Category</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="section text-center pb-3"  id="statistics_element" style="display: none">
                <div class="features">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="info-title text-secondary mt-2"><i class="fas fa-vote-yea"></i> People's Choice Votes: <span id="votes_cast" class="text-muted">0</span></h3>
                            <h3 class="info-title text-primary"><i class="far fa-copy"></i> Total Entries: <span id="totalStat" class="text-muted">0</span></h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="info-title text-info mt-2"><i class="fas fa-water"></i> Entries in the River: <span id="inwaterStat" class="text-muted">0</span></h3>
                            <h3 class="info-title text-success"><i class="fas fa-flag-checkered"></i> Entries Finished: <span id="finishStat" class="text-muted">0</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2 mt-5" onclick="$('.lightitem').trigger('click');">
                <div class="col-md-3 col-6 p-2">
                    <img src="/static/img/entries/entry_101.jpg" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/race-1.jpg';" style="width: 100%; height: auto;" class="rounded">
                </div>
                <div class="col-md-3 col-6 p-2">
                    <img src="/static/img/entries/entry_105.jpg" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/race-2.jpg';" style="width: 100%; height: auto;" class="rounded">
                </div>
                <div class="col-md-3 col-6 p-2">
                    <img src="/static/img/entries/entry_110.jpg" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/race-5.jpg';" style="width: 100%; height: auto;" class="rounded">
                </div>
                <div class="col-md-3 col-6 p-2">
                    <img src="/static/img/entries/entry_115.jpg" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/race-8.jpg';" style="width: 100%; height: auto;" class="rounded">
                </div>
            </div>
        </div>
        <div class="section text-center pt-0"  id="contest_results_element" style="display: none">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title mb-2"><i class="fas fa-user"></i> Individual Contest Results</h3>
                    <h5 class="description">Time is not always the focus of this race. Individual awards and ducks are up for grabs! See more information on these contests below in the Information & Timeline section.</h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-info"><i class="fas fa-user-friends"></i> People's Choice Award <br>2020 Winner</h3>
                            <h3 class="description"><span id="pc_winner">Determining winner...</span></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award <br>2020 Winner</h3>
                            <h3 class="description"><span id="jc_winner">Determining winner...</span></h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-warning"><i class="fas fa-feather-alt"></i> Chuck a Duck Race <br>2020 Results</h3>
                            <h3 class="description m-1">1. <span id="cd1_winner">Determining winner...</span></h3>
                            <h3 class="description m-1">2. <span id="cd2_winner">Determining winner...</span></h3>
                            <h3 class="description m-1">3. <span id="cd3_winner">Determining winner...</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Information & Timeline</h2>
                    <h5 class="description"><span id="race_times">Gathering data...</span></h5>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-info"><i class="fas fa-user-friends"></i> People's Choice Award</h3>
                            <h5 class="description">An award selected by the public based on creativity and ingenuity. Vote for your favorite on race day using the link above. The entry with the most number of votes is given the award.</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award</h3>
                            <h5 class="description">This award devoted to Frank Schier, the founder of the Rock River Trail, is chosen by a select panel of judges on race day. Key criteria focuses on aesthetics, creativity, and design.</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info pt-0">
                            <h3 class="info-title text-warning"><i class="fas fa-feather-alt"></i> Chuck a Duck Race</h3>
                            <h5 class="description">The Chuck a Duck Race is as simple as it sounds, chuck a boatload of rubber ducks into the Rock River and see who wins. Proceeds benefit local charities.</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info pt-0">
                            <h3 class="info-title text-muted"><i class="fas fa-list"></i> Schedule</h3>
                            <h5 class="description"><i class="fas fa-pen"></i> 10:00 a.m.: Sign-in starts. Live radio remote, entertainment, food and drinks at race start line on Illinois Street near old Coast Guard Station
                                <br><i class="fas fa-flag"></i> 12:00 p.m.: Race begins at the Auburn Street Bridge
                                <br><i class="fas fa-music"></i> 12:00 p.m. – 1:30 p.m.: Live music by The Gilligans from a barge patrolling the river
                                <br><i class="fas fa-feather-alt"></i> 3:30 p.m.: Chuck-a-Duck drop off the Whitman Street Bridge
                                <br><i class="fas fa-medal"></i> 4:30 p.m.: Awards ceremony at Prairie Street Brewing Company
                                <br><i class="fas fa-glass-cheers"></i> 3:00 p.m. – 6:00 p.m.: After-party at Prairie Street Brewing Company featuring local band Blind Date</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info pt-0">
                            <h3 class="info-title text-muted"><i class="fas fa-stopwatch"></i> Race Structure</h3>
                            <h5 class="description">RRATFR entries are split up in to two categories: <strong>DIY & HULL</strong>. An entry is in the <strong>"DIY"</strong> category if the entire entry is made from scratch and without commercial flotation devices. An entry is in the <strong>"HULL"</strong> category if the entry utilizes commercial flotation devices, such as pontoon bases or boat hulls. Awards for the fastest race time are <em>given in each respective category</em>, both DIY & HULL. Both the People's Choice and the Frank Schier Creativity and Design Award are <em>awarded regardless of entry category.</em></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Past Results</h2>
                    <h5 class="description">The Rock River Anything That Floats Race is built on the premise of competition and communal fun. Check out the times and awards from year's past through 2016.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="title mb-2">All-time Speed Records</h3>
                    <div class="row">
                        <div class="col-12 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-success"><i class="fas fa-award"></i> Fastest HULL: Team Kira</strong><br>00:12:13.0 | HULL | 2017</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 ml-auto mr-auto"></div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-success"><i class="fas fa-award"></i> Fastest DIY: Team Danfoss</strong><br>00:16:00.0 | DIY | 2017</h4>
                        </div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-success"><i class="fas fa-award"></i> Fastest 2019: Broken Bone</strong><br>00:15:48.1 | HULL | 2019</h4>
                        </div>
                        <div class="col-md-1 ml-auto mr-auto"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="title mb-2">2019 Results</h3>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-info"><i class="fas fa-user-friends"></i> People's Choice Award:</strong> Thomas & Friends</h4>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award:</strong> USS Stout</h4>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-warning"><i class="fas fa-feather-alt"></i> Chuck a Duck Winner:</strong> Matt Bailey</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-left">
                <table class="table table-hover table-striped dt-responsive display nowrap"
                       id="results2019" style="width: 100%">
                    <thead class="text-muted">
                    <th>Place</th>
                    <th>Name</th>
                    <th>Final Time</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong><a style="color:#D4AF37">1</a></strong></td>
                        <td>Broken Bone</td>
                        <td>00:15:48.1</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td><strong><a style="color:#C4CACE">2</a></strong></td>
                        <td>OSF USS Elijah</td>
                        <td>00:33:55.1</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td><strong><a style="color:#CD7F32">3</a></strong></td>
                        <td>OSF USS Wolfgang</td>
                        <td>00:34:15.7</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Team Jones</td>
                        <td>00:38:59.4</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Team Gambino</td>
                        <td>00:41:12.8</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Boylan</td>
                        <td>00:43:28.6</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>The Last Ride</td>
                        <td>00:44:06.5</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Fehr Graham</td>
                        <td>00:44:21.6</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>The Landing Strippers</td>
                        <td>00:50:47.2</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Forest City Brewers</td>
                        <td>00:51:34.3</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Mercyhealth Cardiac and Stroke Nurses</td>
                        <td>00:52:11.4</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Meiborg Enterprises</td>
                        <td>00:54:03.8</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Rock Valley Credit Union</td>
                        <td>00:54:04.8</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>PCI Pharmaceuticals</td>
                        <td>00:55:50.3</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Firestone</td>
                        <td>00:58:38.2</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Thomas and Friends</td>
                        <td>01:00:21.1</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Moana</td>
                        <td>01:04:47.2</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Scrapyard Sailors</td>
                        <td>01:06:24.1</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>The Joint</td>
                        <td>01:08:56.8</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Dirty Oar</td>
                        <td>01:11:02.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Floating Sparkies</td>
                        <td>01:14:32.4</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>95.3 The Bull / Thermo Fisher Scientific</td>
                        <td>01:18:12.3</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>USS Stout</td>
                        <td>01:26:00.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>The Rockness Monster</td>
                        <td>01:27:55.1</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Citizens For Bill Rose</td>
                        <td>01:28:16.3</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Prairie Street Brewhouse</td>
                        <td>01:28:59.8</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>USS Hammy</td>
                        <td>01:31:54.7</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>Blackhawk Athletic Club</td>
                        <td>01:35:29.7</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Speedway Racers</td>
                        <td>01:41:29.5</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Two Men and a Truck</td>
                        <td>01:43:53.2</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>The House Boat</td>
                        <td>01:50:05.2</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Ship Happens</td>
                        <td>01:51:02.5</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Team Maldonado</td>
                        <td>02:21:18.7</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Buffet Barge</td>
                        <td>02:23:28.5</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>DQ</td>
                        <td>Captain Corksoaker</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>DQ</td>
                        <td>Oak Nuts</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>DIY</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="title mb-2">2018 Results</h3>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-info"><i class="fas fa-user-friends"></i> People's Choice Award:</strong> Spirit of Survival</h4>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award:</strong> 425 Manufacturing</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-left">
                <table class="table table-hover table-striped dt-responsive display nowrap"
                       id="results2018" style="width: 100%">
                    <thead class="text-muted">
                    <th>Place</th>
                    <th>Name</th>
                    <th>Final Time</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong><a style='color:#D4AF37'>1</a></strong></td>
                        <td>Broken Bone</td>
                        <td>00:17:11.0</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#C4CACE'>2</a></strong></td>
                        <td>Slumberin Sloth</td>
                        <td>00:24:37.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#CD7F32'>3</a></strong></td>
                        <td>DAnimal / Powder Monkey</td>
                        <td>00:32:07.0</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Fehr Graham</td>
                        <td>00:38:32.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Meiborg</td>
                        <td>00:44:47.0</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Bike Elves / Team Fur Bandit</td>
                        <td>00:49:08.0</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>H20 Express</td>
                        <td>00:51:21.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>OSF SS Wolfgang</td>
                        <td>00:51:26.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>OSF SS Cupertino</td>
                        <td>00:51:41.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Rubber Duck</td>
                        <td>00:52:20.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Row Row Row Gambino</td>
                        <td>00:52:35.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>OSF SS Skelnik</td>
                        <td>00:53:19.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Fas Mart</td>
                        <td>00:54:18.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Gutter Crew / Midwest Gutters</td>
                        <td>00:55:26.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Cats out of the Bag</td>
                        <td>00:55:52.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Prairie Street Brewhouse</td>
                        <td>00:57:49.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Oak Street Health</td>
                        <td>00:58:05.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Spirit of Survival</td>
                        <td>00:59:23.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Rock Valley Credit Union</td>
                        <td>01:00:45.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Dirty Oar / Whiskeys</td>
                        <td>01:05:21.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Firestone</td>
                        <td>01:06:05.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Rootbeer Float</td>
                        <td>01:14:52.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Creative Ink</td>
                        <td>01:20:19.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Aquaholics / Pub 815</td>
                        <td>01:20:37.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Big Texas</td>
                        <td>01:21:15.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Ohana Moke</td>
                        <td>01:23:30.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Team World Vision</td>
                        <td>01:24:49.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>Field Fastner</td>
                        <td>01:30:22.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Spaceforce</td>
                        <td>01:40:04.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Team Maldanado</td>
                        <td>01:48:08.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>425 Manufacturing</td>
                        <td>01:54:22.0</td>
                        <td>HULL</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Nintendo</td>
                        <td>02:06:42.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Bedrock</td>
                        <td>02:08:45.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Shameless</td>
                        <td>02:23:57.0</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>T35</td>
                        <td>Thermal Fisher</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>DIY</td>
                    </tr>
                    <tr>
                        <td>T35</td>
                        <td>Advanced Machine / Rock Floaters</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>DIY</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="title mb-2">2017 Results</h3>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-info"><i class="fas fa-user-friends"></i> People's Choice Award:</strong> Mystery Machine</h4>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award:</strong> Shameless (Diving Board)</h4>
                        </div>
                        <div class="col-md-4 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-warning"><i class="fas fa-feather-alt"></i> Chuck a Duck Winner:</strong> Jerry Barrone</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-left">
                <table class="table table-hover table-striped dt-responsive display nowrap"
                       id="results2017" style="width: 100%">
                    <thead class="text-muted">
                    <th>Place</th>
                    <th>Name</th>
                    <th>Final Time</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong><a style='color:#D4AF37'>1</a></strong></td>
                        <td>Kira</td>
                        <td>00:12:13.0</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#C4CACE'>2</a></strong></td>
                        <td>Unknown Name</td>
                        <td>00:14:01.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#CD7F32'>3</a></strong></td>
                        <td>Team Danfoss</td>
                        <td>00:16:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Rachel</td>
                        <td>00:16:23.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Unknown Name</td>
                        <td>00:17:00.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>John</td>
                        <td>00:17:24.0</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Neil</td>
                        <td>00:17:35.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>USS Kelink</td>
                        <td>00:19:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Tyler</td>
                        <td>00:19:11.0</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Catrina</td>
                        <td>00:20:02.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Sarah</td>
                        <td>00:21:56.0</td>
                        <td>Double Kayak</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>USS Metro</td>
                        <td>00:28:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Unknown Name</td>
                        <td>00:31:00.0</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T14</td>
                        <td>Rocky's Rock River</td>
                        <td>00:33:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T14</td>
                        <td>USS Cupertino</td>
                        <td>00:33:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Byron Station</td>
                        <td>00:39:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Whiskeys</td>
                        <td>00:41:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Broken Bone</td>
                        <td>00:42:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Hole N One</td>
                        <td>00:43:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T20</td>
                        <td>Gambino</td>
                        <td>00:44:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T20</td>
                        <td>Discovery Center</td>
                        <td>00:44:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T20</td>
                        <td>95.3 The Bull</td>
                        <td>00:44:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Cougars</td>
                        <td>00:46:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Alchemy</td>
                        <td>00:48:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>WREX</td>
                        <td>00:50:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Second Place</td>
                        <td>00:50:50.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T27</td>
                        <td>Fehr Graham</td>
                        <td>00:52:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T27</td>
                        <td>Picnic at Jellystone Park</td>
                        <td>00:52:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Slow N Drunk</td>
                        <td>00:53:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Bringin Home The Bacon</td>
                        <td>00:54:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Swedish American</td>
                        <td>00:57:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Flounders Revenge</td>
                        <td>01:00:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Mystery Machine</td>
                        <td>01:17:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T34</td>
                        <td>PS Brewhouse</td>
                        <td>01:18:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T34</td>
                        <td>NCG</td>
                        <td>01:18:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>Bougher Boys</td>
                        <td>01:19:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Ingersoll</td>
                        <td>01:42:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Gators Pool</td>
                        <td>01:43:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Shameless</td>
                        <td>01:47:00.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T40</td>
                        <td>DaVita</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T40</td>
                        <td>ABF</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="title mb-2">2016 Results</h3>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-info"><i class="fas fa-user-friends"></i> People's Choice Award:</strong> ABF Trucking</h4>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                            <h4 class="description"><strong class="text-primary"><i class="fas fa-gavel"></i> Frank Schier Creativity and Design Award:</strong> Metro Insulation</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-left">
                <table class="table table-hover table-striped dt-responsive display nowrap"
                       id="results2016" style="width: 100%">
                    <thead class="text-muted">
                    <th>Place</th>
                    <th>Name</th>
                    <th>Final Time</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong><a style='color:#D4AF37'>T1</a></strong></td>
                        <td>DK-1</td>
                        <td>00:19:00.0</td>
                        <td>Double Kayak</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#D4AF37'>T1</a></strong></td>
                        <td>MC-02</td>
                        <td>00:19:00.0</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#CD7F32'>T3</a></strong></td>
                        <td>SC-01</td>
                        <td>00:20:00.3</td>
                        <td>Single Canoe</td>
                    </tr>
                    <tr>
                        <td><strong><a style='color:#CD7F32'>T3</a></strong></td>
                        <td>MC-03</td>
                        <td>00:20:00.3</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>SUP-4</td>
                        <td>00:22:00.1</td>
                        <td>Stand Up Paddleboard</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>MC-01</td>
                        <td>00:23:00.2</td>
                        <td>Double Canoe</td>
                    </tr>
                    <tr>
                        <td>T7</td>
                        <td>SK-01</td>
                        <td>00:25:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T7</td>
                        <td>SK-02</td>
                        <td>00:25:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T7</td>
                        <td>SK-03</td>
                        <td>00:25:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T7</td>
                        <td>SK-04</td>
                        <td>00:25:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T11</td>
                        <td>SUP-1</td>
                        <td>00:25:59.9</td>
                        <td>Stand Up Paddleboard</td>
                    </tr>
                    <tr>
                        <td>T11</td>
                        <td>SUP-2</td>
                        <td>00:25:59.9</td>
                        <td>Stand Up Paddleboard</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>SUP-3</td>
                        <td>00:27:00.4</td>
                        <td>Stand Up Paddleboard</td>
                    </tr>
                    <tr>
                        <td>T14</td>
                        <td>SK-05</td>
                        <td>00:28:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>T14</td>
                        <td>SK-06</td>
                        <td>00:28:00.2</td>
                        <td>Single Kayak</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Metro Insulation</td>
                        <td>00:32:19.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Back The Raft Up</td>
                        <td>00:36:00.2</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>DaVita</td>
                        <td>00:40:17.4</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Blood Sweat And Gears</td>
                        <td>00:40:30.2</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>SS Daffy</td>
                        <td>00:41:21.8</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>We Found This In The River</td>
                        <td>00:46:09.9</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Guilford</td>
                        <td>00:47:02.8</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Team Sold On Toni 1</td>
                        <td>00:47:18.6</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Discovery Center</td>
                        <td>00:48:50.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Rickety Rafters</td>
                        <td>00:49:25.4</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Prairie Street Brewing Co</td>
                        <td>00:50:00.2</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Boaty McBoatface</td>
                        <td>00:57:14.7</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>4 Men On A Raft</td>
                        <td>00:59:17.3</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Release The Kraken</td>
                        <td>01:02:48.9</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Rock River Dream Police</td>
                        <td>01:04:01.0</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>OSF Saint Anthony</td>
                        <td>01:05:58.3</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>My Major Award</td>
                        <td>01:10:00.4</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>WPI</td>
                        <td>01:12:00.7</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Alpine Bank</td>
                        <td>01:13:50.9</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Team Sold On Toni</td>
                        <td>01:15:02.8</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>WREX</td>
                        <td>01:21:19.1</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>WIFR Anchor Away</td>
                        <td>01:24:41.1</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Whiskeys Roadhouse</td>
                        <td>01:25:53.7</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Legends</td>
                        <td>01:27:20.9</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>Shameless</td>
                        <td>01:32:19.2</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>Green Machines</td>
                        <td>01:32:48.2</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>Good Morning Rockford</td>
                        <td>01:37:18.3</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>ABF</td>
                        <td>01:39:22.5</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T44</td>
                        <td>Radio Shack</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T44</td>
                        <td>Shark Chasing Canoe</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T44</td>
                        <td>Have Sub Fun</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T44</td>
                        <td>Nicholas Conservatory</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    <tr>
                        <td>T44</td>
                        <td>Aglow</td>
                        <td>NT - DISQUALIFIED</td>
                        <td>Raft</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/results">
                        Results
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
                <li>
                    <a href="https://www.rak3rman.com/#contact" target="_blank">
                        Help
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            Made with <a class="text-danger"><i class="fas fa-heart"></i></a> by <a class="text-muted" href="https://www.rak3rman.com">Radison Akerman</a>
        </div>
    </div>
</footer>
<!--   Core JS Files   -->
<script src="/static/landing_page/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/static/landing_page/js/core/popper.min.js" type="text/javascript"></script>
<script src="/static/landing_page/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/static/landing_page/js/plugins/moment.min.js"></script>
<script src="/static/landing_page/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/static/landing_page/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="/static/landing_page/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/static/js/rratfr-js/live_resultsFunct.js"></script>
<script type="text/javascript" src="/static/js/plugins/countdown.js"></script>
<script type="text/javascript" src="/static/js/plugins/lightgallery.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/lg-share.min.js"></script>
<script>
    setImage();
    setInterval(setImage, 600000);
    setInterval(viewresultsHandler, 1000);
</script>
</body>
</html>