<% include ../partials/head.ejs %>
<body class="off-canvas-sidebar">
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand ml-2" href="/dashboard">
                <img src="/static/img/rratfr-logo.png" class="pr-1"
                     style="width: auto; max-width: 55px; -webkit-filter: invert(100%);">
                <fontb>Race Manager</fontb>
            </a>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black" id="coverImage"
         style="background-image: url('/static/img/race-2.jpg'); background-size: cover; background-position: top center;">
        <div class="container p-login">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-8 ml-auto mr-auto">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fas fa-user-clock"></i>
                            </div>
                            <p class="card-category">Race Timing</p>
                            <h3 class="card-title">Entry Timing Clock</h3>
                        </div>
                        <div class="card-footer">
                            <div class="col-6 pr-2 pl-2">
                                    <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text pl-0">
                                                <i class="fas fa-flag"></i>
                                            </span>
                                        </div>
                                        <input type="number" id="bibElement" class="form-control" placeholder="Bib Number..."
                                               oninput="check_Bib(this.value);">
                                    </div>
                                    </span>
                            </div>
                            <div class="col-6 pr-2 pl-2">
                                <div id="buttonElement">
                                    <button class="btn btn-muted" style="width: 100%">
                                        <i class="fas fa-arrow-left"></i> Enter Bib #
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="infoElement"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-stream"></i> Dashboard
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right pr-2">
                    Made with <a class="text-danger"><i class="fas fa-heart"></i></a> by <a class="text-white" href="https://github.com/RAK3RMAN">RAk3rman</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<footer>
    <div class="container" style="width: 100%">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-muted card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-copy"></i>
                        </div>
                        <p class="card-category">Race Timing</p>
                        <h3 class="card-title">Entries In Queue</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="queueTable" style="width: 100%">
                                <thead class="text-muted">
                                <th>Bib #</th>
                                <th>Name</th>
                                <th>Category</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-water"></i>
                        </div>
                        <p class="card-category">Race Timing</p>
                        <h3 class="card-title">Entries in Water</h3>
                    </div>
                    <div class="card-footer">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="enrouteTable" style="width: 100%">
                                <thead class="text-muted">
                                <th>Bib #</th>
                                <th>Name</th>
                                <th>Start Time</th>
                                <th>Category</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="fas fa-trophy"></i>
                </div>
                <p class="card-category">Race Timing</p>
                <h3 class="card-title">Entry Leaderboard</h3>
            </div>
            <div class="card-footer">
                <div class="table-responsive">
                    <table class="table table-hover table-striped dt-responsive display nowrap"
                           id="leaderTable" style="width: 100%">
                        <thead class="text-muted">
                        <th>Place</th>
                        <th>Name</th>
                        <th>Final Time</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Category</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</footer>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/timingFunct.js"></script>
<script>
    document.ready = function () {
        setImage();
    }
</script>