<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-secondary card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-medal"></i>
                        </div>
                        <p class="card-category"><strong>People's Choice Award</strong></p>
                        <h3 class="card-title">Not posed</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info</i>
                            Total votes cast towards the People's Choice Award
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-gavel"></i>
                        </div>
                        <p class="card-category"><strong>Judges's Choice Award</strong></p>
                        <h3 class="card-title">Not posed</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info</i>
                            Click or tap on this element to view the voting form
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-vote-yea"></i>
                        </div>
                        <p class="card-category"><strong>People's Choice Votes</strong></p>
                        <h3 class="card-title"><span id="votes_cast">0</span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info</i>
                            Total votes cast towards the People's Choice Award
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-stats" onclick="window.location.href = '/voting/people\'s-choice'">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                        <p class="card-category"><strong>People's Choice</strong></p>
                        <h3 class="card-title">Voting Form</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info</i>
                            Click or tap on this element to view the voting form
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title p-0">
                                    <h4 class="card-title"><strong>People's Choice Votes</strong></h4>
                                    <p class="card-category">View all votes cast in the table below</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped dt-responsive display nowrap"
                                   id="pcTable" style="width: 100%">
                                <thead class="text-muted">
                                <th>Bib #</th>
                                <th>Origin IP</th>
                                <th>Date</th>
                                <th>Tools</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/static/js/rratfr-js/voting_managementFunct.js"></script>
<script>
    document.ready = function () {
        getVotes();
        activateLink("<%= title %>");
    }
</script>